# Django Framework
django==6.1
djangorestframework==3.18.0
django-cors-headers==4.9.0

# Real-time Features (WebSockets)
channels==4.3.2
daphne==4.2.3
channels_redis==4.3.0

# Utilities
pytz==2026.3.post1
